.login{
    border: 2px solid rgb(7, 189, 221);
    width:25%;
    height:250px;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.login button{
   background-color: transparent;
   border: 0;
   color: white;
   font-weight: 500;
}
.login-btn{
    margin-top: 20%;
   background-color:rgba(13, 146, 255, 0.753);
   width: 250px;
   padding: 10px;
   margin-left: 100px;
   border-radius:20px;
   
}
.login img{
   width:30px;
}