.single-Order-Cart  {
  height: 550px !important;
  border-radius: 10px;
}
.customer_n{
  margin-top: 50px;
  line-height:0;
  color:rgb(0, 153, 255);
  font-weight:500;
}
.customer_e{
  line-height:1;
  color:rgb(0, 153, 255);
  
}
@media only screen and (max-width: 688px) {
  .single-Order-Cart {
     margin-bottom: 20px;
  }
}