.single-Order-Cart  {
  height: 550px !important;
  border-radius: 10px;
}
.customer_n{
  margin-top: 50px;
  line-height:0;
  color:rgb(0, 153, 255);
  font-weight:500;
}
.customer_e{
  line-height:1;
  color:rgb(0, 153, 255);
  
}
.updateOrder{
  margin-top: 3rem;
}

@media only screen and (max-width: 400px) {
  .single-Order-Cart {
     margin-bottom: 20px;
  }
  .updateOrder {
    margin-top:10px;
    
  }
  .updateOrder,.Delete_Order {
    
    margin-left: 95px !important;
    
  }
}
@media screen and (min-device-width: 401px) and (max-device-width: 688px) {
  .single-Order-Cart {
    width: 350px !important;
    margin-left: -4px !important;
  }
  
  .single-Order-Cart img {
    width: 347px !important;
  }
 
    
}
    
  
