.tour-Guid {
    margin-top:150px;
}

.tourguid_Cart  {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width:350px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: aliceblue;
}
.tour-cart-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    
}