.tour-Guid {
    margin-top:150px;
}

.tourguid_Cart  {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width:350px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: aliceblue;
}
.tour-cart-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    
}
@media only screen and (max-width: 400px) {
    .tour-cart-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr) !important;
        margin-left: 18px;
       
    }
    .tour-Guid h3 {
    font-size: 20px;
    text-align: center; 
    }
    .tour-Guid h5 {
    text-align: center; 
    }
    .tourguid_Cart{
        margin-bottom: 50px;
    }
    .tourguid_Cart  {
        
        width:300px;
    }
    .tourguid_Cart img  {
        
        width:300px;
    }
       
    
  }
  @media screen and (min-device-width: 401px) and (max-device-width: 688px) { 
   
    .tour-cart-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr) !important;
        margin-left: 18px;
       
    }
    .tour-Guid h3 {
    font-size: 20px;
    text-align: center; 
    }
    .tour-Guid h5 {
    text-align: center; 
    }
    .tourguid_Cart{
        margin-bottom: 50px;
    }
    .tourguid_Cart  {
        
        width:320px;
        margin-left: 12px;
    }
    .tourguid_Cart img  {
        
        width:320px;
    }
       
        
}