.cencel-btn {
  background-color: rgb(230, 64, 14);
  border: 0;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 25px;
}
.status-btn {
  background-color: rgb(14, 198, 230);
  border: 0;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 25px;
}
/* .my-order-card {
  max-width: 600px;
} */
.my-order-card h2 {
  font-size: 1rem;
}
.order-cencel {
  background-color: rgb(230, 64, 14);
  border: 0;
  color: white;
  font-weight: 500;
  border-radius: 25px;
  padding: 4px 20px;
}
.order-status {
  background-color: rgb(14, 198, 230);
  border: 0;
  color: white;
  font-weight: 500;
  border-radius: 25px;
  padding: 4px 25px;
}
