@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");
.banner {
  padding: 350px;
  background: linear-gradient(
      rgba(55, 56, 56, 0.514) 100%,
      rgba(61, 65, 64, 0.472) 0
    ),
    url(https://i.ibb.co/LZKpYN1/2012-porsche-panamera-turbo-1600x900.jpg);
  font-family: Quicksand, sans-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: #fff;
  margin-bottom: 50px;
}

.banner h2 {
  font-weight: 700;
  font-size: 30px;
}

.custom_color {
  color: #ff7f47;
}

.banner_btn {
  border: 0;
  background-color: #e92e27;
  padding: 15px 50px;
  color: #fff;
  font-weight: 600;
  transition: 0.8s;
  text-decoration: none;
}
.banner_btn:hover {
  background-color: #e52d27;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(59, 58, 58, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
}
@media only screen and (max-width: 688px) {
  .banner h1 {
    font-size: 20px;
    text-align: center;
  }
  .banner h2 {
    font-weight: 500;
    font-size: 16px;
    margin: 1px;
    text-align: center;
    margin-bottom: 70px;
  }
  .banner {
    padding: 40px;
  }
  .banner_btn {
    padding: 10px 20px;
  }
}
