.section1  {
margin-top:60px
}
.section1 img {
width: 500px;
margin-right: 100px;
}
.section1-text {
    margin-top:20px;
    margin-left: 60px;
}
.section1-text {
    margin-top:20px;
    margin-left: 60px;
}